/* header#main-header */

header#main-header {
  background-color: #fff;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 15px var(--grey-color);
}
.dropdown {
  display: none;
}
header#main-header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

header#main-header .flex {
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

header#main-header .main-nav {
  margin-left: auto;
}

header#main-header .main-nav a:hover {
  opacity: 0.8;
}

/* header#main-header end */
